@charset "UTF-8";

*{
    margin: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
   flex-wrap: wrap;


}

.item-1 {
    background-color: aqua;
    padding: 20px;
    display: flex;
    align-self: flex-start;
}
.item-2 {
    background-color: yellow;
    padding: 20px;
}
.item-3 {
    background-color: greenyellow;
    padding: 20px;
}
.item-4 {
    background-color: purple;
    padding: 20px;
    display: flex;
    align-self: flex-end;
}
.item-5 {
    background-color: pink;
    padding: 50px;
}